<tr>
  <td><%= gist.lang %></td>
  <td><%= raw Pygments.highlight(gist.snippet[0,22]+"...", lexer: gist.lang) %></td>
  <td><%= gist.description %></td>
  <td name="actions">
    <%= link_to 'Show', gist %>
    <%= link_to 'Edit', edit_gist_path(gist) %>
    <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>