<h1>Listing gists</h1>
<hr></hr>
<div class="searchbox">
   <%= form_tag @gist, :method => 'get' do %>
      <div class="inprow">
         <label for="snippet_search">Snippet</label>
         <%= text_field_tag :snippet_search, params[:snippet_search] %>
      </div>
      <div class="inprow">
         <label for="desc_search">Description</label>
         <%= text_field_tag :desc_search, params[:desc_search] %>
      </div>
      <div class="inprow">
         <label for="lang_search">Language</label>
         <%= select_tag :lang_search, options_for_select(Pygments.lexers.sort.map{|key, value| [ value[:name], value[:aliases][0] ] }), include_blank: true %>
      </div>
      <div class="inprow">
         <%= submit_tag "Search gists", :type => "submit" %>
         <%= link_to 'New gist', new_gist_path, class: "button" %>
      </div>
  <% end %>
</div>
<div id="infinite-scrolling">
  <%= will_paginate @gists %>
</div>
<div class="dtable" id="my-gists">
  <div class="drow">
    <div class="dcol">Lang</div>
    <div class="dcol">Snippet</div>
    <div class="dcol">Description</div>
    <div class="dcol">Actions</div>
  </div>
    <%= render @gists %>
</div>
<div id="infinite-scrolling">
    <%= will_paginate @gists %>
</div>