<div class="field" id="notice">
	<%= notice %>
</div>
<div class="field">
  <strong>Lang:</strong>
  <%= @gist.lang %>
</div>
<div class="field">
  <strong>Description:</strong>
  <%= @gist.description %>
</div>
<div class="field" name="wholecode">
	<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
</div>
<%= link_to 'Edit', edit_gist_path(@gist), class: "button", style: "margin-right: 1px;" %>
<%= link_to 'Back', gists_path, class: "button" %>
